$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-frames-primary:#F6F6F6;
$color-text-primary:black;
$color-text-secondary:darken($color-frames-primary,30%);
$color-frames-secondary:darken($color-frames-primary,10%); 
$color-frequent:#FFFFFF;
$color-gradient:linear-gradient($color-secondary, $color-primary);
$font-size-primary:17px;
$font-size-secondary:15px;
$size-frequent:20px;
$icon-font-size:$size-frequent;
$border-radius-primary:$size-frequent $size-frequent $size-frequent $size-frequent;
$border-radius-secondary:25px 25px 25px 25px;
$border-radius-tertiary:$size-frequent $size-frequent 0px 0px;
$box-shadow-primary: 4px 3px 8px $color-text-secondary;
$box-shadow-secondary:2px 5px 10px darken($color-frames-primary,50%);
$numb-menu-steps:3;
$anim-duration:300ms;
$anim-delay:$anim-duration;