@import "./base/base";
@import "./base/normalize";
@import "./base/typography";

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./utils/loops";

@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";
@import "./layout/responsive";

@import "./components/buttons";

@import "./pages/homepage";
@import "./pages/restaurants_pages";

/*utils et variables*/
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-frames-primary:#F6F6F6;
$color-text-primary:black;
$color-text-secondary:darken($color-frames-primary,30%);
$color-frames-secondary:darken($color-frames-primary,10%); /*à valider???? fonctionne mais plutôt mixin*/
$color-frequent:#FFFFFF;
$color-gradient:linear-gradient($color-secondary, $color-primary);
$font-size-primary:17px;
$font-size-secondary:15px;
$size-frequent:20px;
$icon-font-size:$size-frequent;
$border-radius-primary:$size-frequent $size-frequent $size-frequent $size-frequent;
$border-radius-secondary:25px 25px 25px 25px;
$border-radius-tertiary:$size-frequent $size-frequent 0px 0px;
$box-shadow-primary: 4px 3px 8px $color-text-secondary;

/*à supprimer par la suite*/
@mixin border-test ($color:$color-text-primary){
    border: 2px $color solid;
}
@mixin text-primary { /*à utiliser pour le texte en gras sur les menus garder et traduire en  anglais certains commentaires*/ 
    font-size : $font-size-primary;
    font-weight: bold;
}
@mixin text-complementary {/*à utiliser pour le texte en gras sur les menus*/
    font-size: $font-size-secondary;
    color: $color-frames-secondary;
}
@mixin welcome-page-heading {
    font-size : 27px;
    margin-right:5%;
    margin-left:5%;
}

body {
    background-color:$color-frequent;
    word-wrap: break-word;
    font-family: Roboto, sans-serif;
    }
        
.welcome-page-heading {
    @include welcome-page-heading;
            &--centered {
                text-align: center;
            }
}
.icon-place { /*à voir si on gard*/
    margin-right:$size-frequent;
}
.icon {
    font-size:$icon-font-size;
}

.header {
    display: flex;
    background-color: $color-frequent;
    width: 100%;
    &_link-field-on-logo {
        font-size: 10px;
        margin:auto;
        margin-top:10px;
        margin-bottom:10px;
        }
    &_link-field-on-arrow {
       position: relative;
       left: 100px;
       top:$size-frequent;
       height: 22px;
       font-size:$size-frequent;
       width:$size-frequent;
       color:$color-text-primary;
    }
}
.section {
    display: flex;
    width: 100%;
    background-color:$color-frames-primary;
    flex-direction: column;
}
.section > div  {
    display:flex;
    width:100%;
    flex-direction:column;
    justify-content:space-between;
}
.section > div > div {
    width:80%; 
    display:flex;  
}
.link {
    display:flex;
    text-decoration: none;
 }
.form {
    text-align: center;
    &_location-field {
        display:flex;
        background-color:$color-frames-secondary;/*vérifier que l-syntaxe ok*/
        justify-content:center;
        width:100%;
        margin-bottom:10px;
    }
    &_location-text {
            background-color: $color-frames-secondary;/*vérifier que la syntaxe ok*/
            border:none;  /*vérifier que la syntaxe ok*/ /*à solutionner quand on saisit le texte la bordure apparaît*/
            // color:$color-text-primary; ne veut pas marcher
            font-size: $font-size-primary;
    }
    &_information {
        margin:auto;
        width:85%;
            &_subtitle {
            font-size : $size-frequent;
            color:$color-text-secondary;
                &--centered {
                    text-align: center;
                }
            }
    }
} 
.btn {
    cursor:pointer;
    margin-top:8px;
    margin-bottom: 44px;
    width: 245px;
    height: 50px;
    border-radius: $border-radius-secondary;
    background:$color-gradient;
     /*vérifier le dégradé et intégrer l'effet attendu en terme d'animation*/
    border:none;
    color:$color-frequent;
    font-size:$font-size-primary;
    box-shadow:$box-shadow-primary;
    opacity:1;
    transition:opacity 250ms;
        &:hover {
            opacity:0.8;
            box-shadow: 2px 5px 10px darken($color-text-secondary,30%);
        }
}
.website-running-information {
    background-color: $color-frequent;
    &_fields{
        align-items:center;
        height:192px;
        margin-bottom: 30px; 
    }
}
.steps-field {
    display:flex; 
    align-items: center;
    background-color:$color-frames-primary;
    height:50px;
    border-radius: $border-radius-primary;
    font-size:$font-size-primary*0.9; 
    box-shadow:$box-shadow-primary;
    &_number-place {
        background-color: $color-primary;
        color:$color-frequent;
        border-radius:$border-radius-secondary;
        width:$size-frequent;
        height:$size-frequent;
        margin-left:-9px;
        margin-right: 0;
        &_icon {
            font-size:$icon-font-size*0.8;
        }
    }
    &_image-place {
        margin-left:$size-frequent;
        margin-right:$size-frequent;
        color:$color-text-secondary; /*trouver le bon icone pour l'étape 3 et l'animation quand on clique rose*/
    }
}
.restaurants{ 
    align-items: center;
    &_card {
        box-shadow:$box-shadow-primary;
        border-radius: $border-radius-primary;
        margin-bottom: 30px;
        height:300px;
            &_link-field {
                width:100%;
                height:70%;
                flex-direction: column;
                text-decoration:none;
                color:$color-text-primary;
                position:relative;
                &_image {
                    object-fit:cover;
                    // width:100%;
                    height:100%;
                    border-radius: $border-radius-tertiary;
                    } 
                &_frame-for-new-information {
                    width:30%;
                    padding:5px 0px 5px 0px;
                    background-color:$color-tertiary;
                    text-align: center;
                    align-self:baseline;
                    position:abolute;
                    top:20px;
                    position:absolute;
                    top: 0px;
                    right: 16px;
                    }   
                &_comments {
                    display:flex;
                    align-self:flex-start;
                    &_field {
                        width:80%;
                        margin-left:10px;
                        display:flex;
                        flex-direction:column;
                        &_link-for-comments {
                            flex-direction:column;
                            color:$color-text-primary;
                            &_restaurant-name {
                                font-size:$font-size-primary;
                                font-weight:bold;
                                margin-bottom:0;
                            }
                            &_restaurant-location-name {
                                font-size:$font-size-secondary;
                                margin-top:5px;
                            }
                        }
                        &_heart-icon-place {
                            display:flex;
                        }
                    }
                }
            }
        }
    }

.heart-icon { /*à améliorer pour le côté progressif avec transform origin et scaleX?*/
    color: $color-text-secondary;
    background-color:$color-frequent;
    padding-top:5px; 
    font-size: 25px;
     &::before {
            content: "\f004";
            transition: color 2000ms ease-in-out;
        }  
    &:hover {
        &::before {
        color:$color-secondary;
        cursor:pointer;
        font-weight: bold;
        }  
    } 
} 

.footer {
    background-color:$color-text-primary;
    color:$color-frequent;
    padding-left:30px;
    &_logo {
        color:white; /*à travailler*/
    }
    &_field-for-information {
        display:flex;
        color:white;
        &_link {
            color:$color-frequent;
            &_icone-place {
                margin-left:0;
                margin-right:10px;
            }
        }
    }
}



/*relire les specs et regarder le site en détails*/
 

/*revérifier les animations attendues, cursor pointer, la bonne redirection,les clicks avec les tester et supprimer les class inutiles, mettre une pseudo class? combinater, boucle, fonction,condition pour la couleur du texte en fonction du background*/
/*Boutons
● Au survol, la couleur de fond des boutons principaux devra légèrement s’éclaircir. ok
L’ombre portée devra également être plus visible.
● À terme, les visiteurs pourront sauvegarder leurs menus préférés. Pour ça, un
bouton "J’aime" en forme de cœur est présent sur la maquette. Au clic, il devra se
remplir progressivement. Pour cette première version, l’effet peut être apparaître au
survol sur desktop au lieu du clic.
Page d’accueil
● Quand l’application aura plus de menus, un “loading spinner” sera nécessaire. Sur
cette maquette, nous souhaitons en avoir un aperçu. Il devra apparaître pendant 1 à
3 secondes quand on arrive sur la page d'accueil, couvrir l'intégralité de l'écran, et
utiliser les animations CSS (pas de librairie). Le design de ce loader n’est pas défini,
toute proposition est donc la bienvenue tant qu’elle est cohérente avec la charte
graphique du site.
Pages de menu
● À l’arrivée sur la page, les plats devront apparaître progressivement avec un léger
décalage dans le temps. Ils pourront soit apparaître un par un, soit par groupe
“Entrée”, “Plat” et “Dessert”. Un exemple de l’effet attendu est fourni.
● Le visiteur peut ajouter les plats qu'il souhaite à sa commande en cliquant dessus.
Cela fait apparaître une petite coche à droite du plat. Cette coche devra coulisser de
la droite vers la gauche. Pour cette première version, l’effet peut apparaître au survol
sur desktop au lieu du clic. Si l’intitulé du plat est trop long, il devra être rogné avec
des points de suspension. Un exemple de l’effet attendu est fourni.
/*après la présentation, charger la nouvelle version de powershell et de vs code*/